<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>NYC Neighborhood Guessing Game</title>
</head>
<body>
    <h1>Welcome to the NYC Neighborhood Guessing Game!</h1>
    <form action="/start" method="POST">
        <label>Select a borough:</label>
        <select name="borough">
            {% for borough in boroughs %}
                <option value="{{ borough }}">{{ borough }}</option>
            {% endfor %}
        </select>
        <button type="submit">Start Game</button>
    </form>
</body>
</html>
